app = 'lobster-trap'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = 'data'
  destination = '/data'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
